{% extends 'templates/app.twig' %}

{% block pageTitle %}Welcome{% endblock %}

{% block content %}

    <div class="jumbotron jumbotron-fluid text-center">
        <div class="container">
            <img src="{{ base_url() }}/assets/favicon.png" style="width:80px;">
            <h1 class="display-4">Welcome to {{ app.name }}</h1>
            <p class="lead">Create and organize personalized lists all in one place</p>
            <hr class="my-4">
            <p class="lead">
                <a class="btn btn-outline-primary btn-lg" href="{{ path_for('auth.signup') }}" role="button">Register</a>
                <p class="text-muted">Have an account? <a href="{{ path_for('auth.signin') }}">Sign in</a></p>
            </p>
        </div>
    </div>

    <div class="container text-center">
        <div class="row">
            <div class="col-12">
                <h1>What is {{ app.name }}?</h1>

                <p>{{ app.name }} is a listing platform that allows users to create various lists based on anything of their choosing.</p>
                <p>With {{ app.name }}, users can also interact with each other, where they can follow users, favorite lists, and much more.</p>
            </div>
        </div>
    </div>

    <div class="container text-center">
        <div class="row">
            <div class="col-12">
                <h1>What is a list?</h1>

                <div class="row">
                    <div class="col-xl-4 mx-auto">
                        <div class="card list text-left">
                            <div class="card-header">
                                <h4 class="card-title">This is a list</h4>
                                <small>
                                    [category]
                                </small>
                            </div>
                            <div class="card-block" style="height:auto;">
                                <p>You can add whatever in this list!</p>

                                <ul>
                                    <li>Including lists</li>
                                    <li>like this!</li>
                                </ul>

                                <ol>
                                    <li>Or lists</li>
                                    <li>that are ordered</li>
                                    <li>like this!</li>
                                </ol>

                                <p>This list can also be put into categories, like seen above near the title.</p>

                                <hr>
                                <h5>More info below.</h5>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="container text-center">
        <div class="row">

            <div class="col-12">
                <h1>Why {{ app.name }}?</h1>
                <p>
                    While there are other platforms that provide a similar service, the goal of {{ app.name }} is to provide a more modern
                    and friendly approach to creating and organizing lists.
                </p>
            </div>

            <div class="col-md-4">
                <h1 class="display-4 icon ion-android-list"></h1>
                <h2>Profiles</h2>
                <p>
                    Creating an account will grant you your own personalized space where all your lists and favorites will be collected.
                    You can easily customize how your lists look and how they are organized on your profile to your liking.
                </p>
            </div>
            <div class="col-md-4">
                <h1 class="display-4 icon ion-android-share-alt"></h1>
                <h2>Share</h2>
                <p>
                    Share your lists to anyone on or off the site, which your profile can publicly showcase all of your lists.
                    Other users can check out your lists, favorite them, and comment on them.
                </p>
            </div>
            <div class="col-md-4">
                <h1 class="display-4 icon ion-social-github"></h1>
                <h2>Open Source</h2>
                <p>
                    At {{ app.name }}, we believe that transparency is important. Therefore, {{ app.name }} is fully open source and anyone can look at the code
                    and even help contribute to its development.
                    If you are a developer, you can help contribute at our <a href="https://github.com/Seramity/Listreme" target="_blank">Github</a>.
                </p>
            </div>

        </div>
    </div>

    <div class="container text-center">
        <div class="row">

            <div class="col-12">
                <h2>Sounds good?</h2>
                <a class="btn btn-outline-primary btn-lg" href="{{ path_for('auth.signup') }}">Let's get started</a>
            </div>

        </div>
    </div>

<script type="text/javascript">
    // SMOOTH SCROLLING
    $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
            if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
</script>


{% endblock %}