{% extends 'templates/app.twig' %}

{% block pageTitle %}Edit List{% endblock %}

{% block content %}

    {% include 'templates/modalboxes/markdown_help.twig' %}


    <div class="row">

        <div class="col-md-7 mx-auto">

            <div class="card">
                <div class="card-header">
                    <h3>Edit List</h3>
                </div>

            <form action="{{ path_for('list.edit', {id : list.id}) }}" method="post" autocomplete="off" class="editlist-form">
                <div class="card-block">

                    <div class="form-group">
                        <div class="form-group">
                            <label class="form-control-label" for="title">Title</label>
                            <input type="text" name="title" id="title" class="form-control{% if errors.title %} error{% endif %}" value="{% if old_input.title %}{{ old_input.title }}{% else %}{{ list.title }}{% endif %}">
                            {% if errors.title %} <div class="form_errors">{{ errors.title | first }}</div> {% endif %}
                        </div>

                        <div class="form-group">
                            <label class="form-control-label" for="category">Category</label>
                            <input type="text" name="category" id="category" class="form-control{% if errors.category %} error{% endif %}" value="{% if old_input.category %}{{ old_input.category }}{% else %}{{ list.category }}{% endif %}">
                            {% if errors.category %} <div class="form_errors">{{ errors.category | first }}</div> {% endif %}
                        </div>

                        <div class="form-group">
                            <label class="form-control-label" for="category">Postiton</label>
                            <input type="text" name="position" list="positions" class="form-control{% if errors.position %} error{% endif %} aria-describedby="positionHelp" placeholder="Position of this list" value="{% if old_input.position %}{{ old_input.position }}{% else %}{{ list.position }}{% endif %}">
                            <datalist id="positions">
                                {% for key, position in user_lists %}
                                    <option value="{{ key }}"></option>
                                {% endfor %}
                            </datalist>
                            {% if errors.position %} <div class="form_errors">{{ errors.position | first }}</div> {% endif %}
                            <small id="postionHelp" class="form-text text-muted">Which spot your list appears on your profile (in order).</small>
                        </div>

                        <div class="form-group">
                            <label class="form-control-label" for="Content">Content</label>
                            <textarea name="content" id="content" class="form-control{% if errors.content %} error{% endif %}" rows="6">{% if old_input.content %}{{ old_input.content }}{% else %}{{ list.content }}{% endif %}</textarea>
                            {% if errors.content %} <div class="form_errors">{{ errors.content | first }}</div> {% endif %}
                            <div id="categoryHelp" class="form-text text-right text-muted">Lists support <a href="#" data-toggle="modal" data-target="#markdownHelpModal">Markdown</a></div>
                        </div>

                        {{ csrf.field | raw }}

                    </div>

                </div>

                <div class="card-footer">
                    <button type="submit" class="btn btn-outline-success" data-submit-value="Saving...">Save</button>
                    <a href="{{ path_for('list', {user : list.owner().username, id : list.id}) }}" class="btn btn-outline-danger float-right">Cancel</a>
                </div>
            </form>

            </div>

        </div>

    </div>

    <script type="text/javascript">
        $('.editlist-form').on('submit', function() {
            var self = $(this),
                button = self.find('button[type="submit"]'),
                submitValue = button.data('submit-value');

            button.attr('disabled', 'disabled').text((submitValue) ? submitValue : 'Please Wait...');
        });

        // TABBING IN TEXTAREAS
        HTMLTextAreaElement.prototype.getCaretPosition = function() { //return the caret position of the textarea
            return this.selectionStart;
        };
        HTMLTextAreaElement.prototype.setCaretPosition = function(position) { //change the caret position of the textarea
            this.selectionStart = position;
            this.selectionEnd = position;
            this.focus();
        };

        var textarea = document.getElementsByTagName('textarea')[0];

        textarea.onkeydown = function(event) {
            //support tab on textarea
            if (event.keyCode == 9) { //tab was pressed
                var newCaretPosition;
                newCaretPosition = textarea.getCaretPosition() + "    ".length;
                textarea.value = textarea.value.substring(0, textarea.getCaretPosition()) + "    " + textarea.value.substring(textarea.getCaretPosition(), textarea.value.length);
                textarea.setCaretPosition(newCaretPosition);
                return false;
            }
        }
    </script>

{% endblock %}
