{% extends 'templates/app.twig' %}

{% block pageTitle %}New List{% endblock %}

{% block content %}

    {% include 'templates/modalboxes/markdown_help.twig' %}

    <div class="row">

        <div class="col-md-7 mx-auto">

            <div class="card">
                <div class="card-header">
                    <h3>Create New List</h3>
                </div>

                <form action="{{ path_for('list.new') }}" method="post" autocomplete="off" class="newlist-form">
                    <div class="card-block">

                        <div class="form-group">
                            <label for="title">Title</label>
                            <input type="text" name="title" id="title" class="form-control{% if errors.title %} error{% endif %}" aria-describedby="titleHelp" value="{% if old_input.title %}{{ old_input.title }}{% endif %}">
                            {% if errors.title %} <div class="form_errors">{{ errors.title | first }}</div> {% endif %}
                            <small id="emailHelp" class="form-text text-muted">A good, short title for your list.</small>
                        </div>

                        <div class="form-group">
                            <label for="category">Category</label>
                            <input type="text" name="category" id="category" class="form-control{% if errors.category %} error{% endif %}" aria-describedby="categoryHelp" value="{% if old_input.category %}{{ old_input.category }}{% endif %}">
                            {% if errors.category %} <div class="form_errors">{{ errors.category | first }}</div> {% endif %}
                            <small id="categoryHelp" class="form-text text-muted">Organize this list with others in a custom category (Ex: favorites, links, top10, etc.)</small>
                        </div>

                        <div class="form-group">
                            <label for="Content">Content</label>
                            <textarea name="content" id="content" class="form-control{% if errors.content %} error{% endif %}">{% if old_input.content %}{{ old_input.content }}{% else %}- each list item starts with a dash
- remove these to get started

Or freely type whatever{% endif %}</textarea>
                            {% if errors.content %} <div class="form_errors">{{ errors.content | first }}</div> {% endif %}
                            <div id="categoryHelp" class="form-text text-right text-muted">Lists support <a href="#" data-toggle="modal" data-target="#markdownHelpModal">Markdown</a></div>
                        </div>

                        {{ csrf.field | raw }}

                    </div>

                    <div class="card-footer">
                        <button type="submit" class="btn btn-outline-primary" data-submit-value="Creating...">Create</button>
                    </div>
                </form>

            </div>

        </div>

    </div>

    <script type="text/javascript">
        $('.newlist-form').on('submit', function() {
            var self = $(this),
                button = self.find('button[type="submit"]'),
                submitValue = button.data('submit-value');

            button.attr('disabled', 'disabled').text((submitValue) ? submitValue : 'Please Wait...');
        });

        // TABBING IN TEXTAREAS
        HTMLTextAreaElement.prototype.getCaretPosition = function() { //return the caret position of the textarea
            return this.selectionStart;
        };
        HTMLTextAreaElement.prototype.setCaretPosition = function(position) { //change the caret position of the textarea
            this.selectionStart = position;
            this.selectionEnd = position;
            this.focus();
        };

        var textarea = document.getElementsByTagName('textarea')[0];

        textarea.onkeydown = function(event) {
            //support tab on textarea
            if (event.keyCode == 9) { //tab was pressed
                var newCaretPosition;
                newCaretPosition = textarea.getCaretPosition() + "    ".length;
                textarea.value = textarea.value.substring(0, textarea.getCaretPosition()) + "    " + textarea.value.substring(textarea.getCaretPosition(), textarea.value.length);
                textarea.setCaretPosition(newCaretPosition);
                return false;
            }
        }
    </script>

{% endblock %}
