{% extends 'templates/app.twig' %}

{% block content %}

    <div class="row">
        <div class="col-lg-2 profile-main">

            <div class="card" style="margin-bottom:1em;">

                {% if auth.check and auth.user.id ==  user.id %}
                    <a href="{{ path_for('account.picture') }}">
                        <div class="avatar-container" data-content="Update Avatar">
                            {{ user.getAvatar({size : 330, profile : true}) | raw }}
                        </div>
                    </a>
                {% else %}
                    {{ user.getAvatar({size : 330, profile : true}) | raw }}
                {% endif %}

                <div class="card-block">
                    <h4 class="card-title">
                        {{ user.username }}
                        {% if user.isAdmin() %}<span class="badge badge-success" style="font-size: 0.6em;">Admin</span>{% endif %}
                    </h4>
                    <h6 class="card-subtitle mb-2 text-muted">{{ user.name }}</h6>
                    <p class="card-text">{{ user.bio }}</p>

                    {% if auth.user.id == user.id %}
                        <a href="{{ path_for('account.profile') }}" class="btn btn-outline-primary">Edit Profile</a>
                    {% endif %}
                </div>
            </div>

        </div>

        {% block profile_content %}{% endblock %}
    </div>

{% endblock %}