<div class="col favoritebox span_1_of_2">
    <div class="col span_1_of_8">
        <a href="{{ path_for('userProfile', {user : list.owner().username}) }}">{{ list.owner().getAvatar({size: 50}) | raw }}</a>
    </div>
    <div class="col span_5_of_8">
        <h2 class="title muted">
            <a href="{{ path_for('list', {user : list.owner().username, id : list.id}) }}">{{ list.title }}</a>
        </h2>
        <h5 class="category">[<a href="{{ path_for('userProfile.category', {user : list.owner().username, category : list.category}) }}">{{ list.category }}</a>]</h5>
        <h4 class="username">
            <a href="{{ path_for('userProfile', {user : list.owner().username}) }}">{{ list.owner().username }}</a>
        </h4>
    </div>
    <div class="col span_2_of_8">
        <div class="date" title="{{ list.timestamp('created_at') }}">{{ list.readableTime('created_at') }}{% if list.updated_at %}<span class="updated" title="Edited: {{ list.readableTime('updated_at') }}">*</span>{% endif %}</div>
    </div>
</div>