<div class="col listbox span_1_of_3" id="list-{{list.id}}">

    <div class="header">
        <div class="col span_10_of_12">
            <h2 class="title muted"><a href="{{ path_for('list', {user : list.owner().username, id : list.id}) }}">{{ list.title }}</a></h2>

        </div>
        <div class="col span_2_of_12">
            <h5 class="category">
                [<a href="{{ path_for('userProfile.category', {user : list.owner().username, category : list.category}) }}">{{ list.category }}</a>]
            </h5>
        </div>
    </div>

    <div class="col span_2_of_2 content">{{ list.markdownContent() | raw }}</div>

    <div class="col span_2_of_2 footer">
        <div class="date" title="{{ list.timestamp('created_at') }}">{{ list.readableTime('created_at') }}{% if list.updated_at %}<span class="updated" title="Edited: {{ list.readableTime('updated_at') }}">*</span>{% endif %}</div>
        {% if auth.user.id == list.user_id or auth.user.isAdmin() %}
            <a href="{{ path_for('list.edit', {id : list.id}) }}">Edit</a>
            | <a onclick="confirmDeleteList({{ list.id }});">Delete</a> |
        {% endif %}
        {% if not list.favorite().exists(list.id, auth.user.id) %}<a href="{{ path_for('list.favorite', {id : list.id}) }}">Favorite</a>{% else %}<a href="{{ path_for('list.unfavorite', {id : list.id}) }}">Unfavorite</a>{% endif %}
    </div>
</div>