<div class="col span_2_of_2 commentbox {% if comment.isReply() %}reply{% endif %}" id="comment-{{comment.id}}">
    <div class="col span_2_of_2 userbox">
        <a href="{{ path_for('userProfile', {user : comment.owner().username }) }}">
            {{ comment.owner().getAvatar({size : 30}) | raw }}
            <h3 class="username">{{ comment.owner().username }}</h3>
        </a>
        <h5 class="timestamp muted" title="{{ comment.timestamp() }}">({{ comment.readableTime() }})</h5>
        {% if auth.user.id == comment.user_id or auth.user.isAdmin() %}
            <a onclick="confirmDeleteComment({{ comment.id }});"><span class="icon ion-trash-b delete"></span></a>
        {% endif %}
    </div>

    <div class="col span_2_of_2 content">
        {{ comment.markdownContent() | raw }}
    </div>

    {% if not comment.isReply() and auth.check %}
        <div class="col span_2_of_2 footer">
            [<a href="#form" onclick="replyForm({{ comment.id }}, '{{comment.owner().username}}');" class="reply-button">Reply</a>]
        </div>
    {% endif %}

    <div class="col span_2_of_2">
        {% for comment in comment.replies('asc') %}
            {% include 'templates/comment/comment_template.twig' %}
        {% endfor %}
    </div>
</div>