{% extends 'templates/app.twig' %}

{% block pageTitle %}{{ user.username }}'s Profile{% endblock %}

{% block content %}

    {% include 'templates/partials/nav.twig' %}

    <div class="section group page profile">
        <div class="col span_4_of_4 main">
            <div class="col span_1_of_7">
                {{ user.getAvatar({size : 150}) | raw }}
            </div>
            <div class="col span_6_of_7">
                <h1 class="username">{{ user.username }}</h1>
                <h3 class="name muted">{{ user.name }}</h3>
                <p class="bio">{{ user.bio }}</p>
            </div>
        </div>

        <div class="col span_4_of_4">
            <h1 class="muted">Lists</h1>

            {% for list in lists %}
                <div class="col listbox {% if list.size == 0 %}span_1_of_3{% elseif list.size == 1 %}span_2_of_3{% else %}span_3_of_3{% endif %}">
                    <h2 class="title muted">{{ list.title }}</h2>
                    <div class="category">{{ list.category }}</div>
                    <hr>

                    <div class="content">{{ list.markdownContent() | raw }}</div>

                    <div class="date">{{ list.created_at }}</div>
                    <a href="{{ path_for('list.edit', {id : list.id}) }}">Edit</a>
                    <a href="{{ path_for('list.delete', {id : list.id}) }}">Delete</a>
                </div>
            {% endfor %}

        </div>


    </div>

{% endblock %}