{% extends 'templates/app.twig' %}

{% block pageTitle %}{{ user.username }}'s Profile{% endblock %}

{% block content %}

    {% include 'templates/partials/nav.twig' %}

    <div class="section group page profile">
        <div class="col span_4_of_4 main">
            <div class="col span_1_of_7">
                {{ user.getAvatar({size : 150}) | raw }}
            </div>
            <div class="col span_6_of_7">
                <h1 class="username">{{ user.username }}</h1>
                <h3 class="name muted">{{ user.name }}</h3>
                <p class="bio">{{ user.bio }}</p>
            </div>
        </div>

        <div class="col span_4_of_4">
            <div class="col span_1_of_3 box">
                <h2 class="muted">List 1</h2>
                <hr>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin aliquam vel velit non bibendum. Nullam porta, tellus id gravida eleifend, augue est maximus ante, ut vestibulum quam nisl at eros. Aenean eros sapien, scelerisque non erat non, elementum consequat sem. Nam ac tortor vitae est malesuada faucibus et in felis. Aenean in finibus elit, quis pulvinar lectus. Vivamus congue auctor ante. Sed vitae nisl id lacus porta semper quis ac ligula. Morbi nec nulla orci. Suspendisse suscipit facilisis sodales. Nulla posuere risus sed erat vehicula feugiat. Sed eget felis et ipsum vulputate scelerisque id non purus. Morbi non nunc id metus luctus ultrices. In quis fermentum neque.</p>
                <ul>
                    <li>Proin aliquam vel velit non bibendum.</li>
                    <li>Aenean in finibus elit, quis pulvinar lectus.</li>
                    <li>Sed bibendum rutrum sodales.</li>
                    <li>Cras sit amet pharetra tortor.</li>
                    <li>Phasellus convallis viverra urna, eget pharetra lorem dictum quis.</li>
                </ul>
            </div>
            <div class="col span_1_of_3 box">
                <h2 class="muted">List 2</h2>
                <hr>

                <ul>
                    <li>Proin aliquam vel velit non bibendum.</li>
                    <li>Aenean in finibus elit, quis pulvinar lectus.</li>
                    <li>Sed bibendum rutrum sodales.</li>
                    <li>Cras sit amet pharetra tortor.</li>
                    <li>Phasellus convallis viverra urna, eget pharetra lorem dictum quis.</li>
                </ul>
            </div>
            <div class="col span_1_of_3 box">
                <h2 class="muted">List 3</h2>
                <hr>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin aliquam vel velit non bibendum. Nullam porta, tellus id gravida eleifend, augue est maximus ante, ut vestibulum quam nisl at eros. Aenean eros sapien, scelerisque non erat non, elementum consequat sem. Nam ac tortor vitae est malesuada faucibus et in felis. Aenean in finibus elit, quis pulvinar lectus. Vivamus congue auctor ante. Sed vitae nisl id lacus porta semper quis ac ligula. Morbi nec nulla orci. Suspendisse suscipit facilisis sodales. Nulla posuere risus sed erat vehicula feugiat. Sed eget felis et ipsum vulputate scelerisque id non purus. Morbi non nunc id metus luctus ultrices. In quis fermentum neque.</p>

            </div>
        </div>
    </div>

{% endblock %}