{% extends 'templates/app.twig' %}

{% block pageTitle %}{{ user.username }}'s Profile{% endblock %}

{% block content %}

    {% include 'templates/partials/nav.twig' %}

    <div class="section group page profile">
        <div class="col span_4_of_4 profile-main">
            <div class="col span_1_of_7">
                {{ user.getAvatar({size : 150}) | raw }}
            </div>
            <div class="col span_6_of_7">
                <h1 class="username">{{ user.username }}</h1>
                <h3 class="name muted">{{ user.name }}</h3>
                <p class="bio">{{ user.bio }}</p>
            </div>
        </div>

        <div class="col span_4_of_4">
            <h1 class="muted">Lists</h1>

            {% for list in lists %}
                {% include 'templates/list/list_template.twig' %}
            {% endfor %}

        </div>


    </div>

{% endblock %}