{% extends 'templates/app.twig' %}

{% block pageTitle %}Change Password{% endblock %}

{% block content %}

    {% include 'templates/partials/nav.twig' %}

    <div class="section group page">

        <div class="col span_1_of_4">

            <div class="col span_4_of_4 side settings-sidebar">
                <ul class="link-list">
                    <a href="#"><li>Profile Settings</li></a>
                    <a href="#"><li>Profile Picture</li></a>
                    <a href="#"><li>Privacy Settings</li></a>
                </ul>

                <hr />

                <ul class="link-list">
                    <a href="#"><li>Account Settings</li></a>
                    <a href="{{ path_for('account.password') }}"><li>Change Password</li></a>
                    <a href="#"><li>Delete Account</li></a>
                </ul>
            </div>

        </div>

        <div class="col span_2_of_4">

            <div class="col span_4_of_4 main">
                <form action="{{ path_for('account.password') }}" method="post" autocomplete="off" class="change-password-form">

                    <div class="col span_2_of_2 header">
                        <h2>Change Password</h2>
                        <hr>
                    </div>

                    <div class="col span_1_of_2">

                        <label>
                            Current Password
                            <input type="password" name="password_current" id="password_current">
                            {% if errors.password_current %} <div class="form_errors">{{ errors.password_current | first }}</div> {% endif %}
                        </label>

                        <label>
                            New Password
                            <input type="password" name="password_new" id="password_new">
                            {% if errors.password_new %} <div class="form_errors">{{ errors.password_new | first }}</div> {% endif %}
                        </label>

                    </div>

                    <div class="col span_2_of_2">
                        <input type="submit" value="Change" data-submit-value="Changing...">

                        {{ csrf.field | raw }}
                    </div>

                </form>

            </div>

        </div>

        <div class="col span_1_of_4">

            <div class="col span_4_of_4 side">
                <h4 class="header"><span class="entypo entypo-lamp"></span> Password Tips</h4>
                <p class="muted">To keep your account secure, we recommend a password with no less than 6 characters. </p>
                <p class="muted">
                    The longer the password the better, but you could also include numbers and symbols too.
                    Remember: <a href="https://xkcd.com/936/" target="_blank" rel="noopener noreferrer">length beats complexity!</a>
                </p>
            </div>

        </div>
    </div>


    <script type="text/javascript">

        $('.change-password-form').on('submit', function() {

            var self = $(this),
                button = self.find('input[type="submit"], button'),
                submitValue = button.data('submit-value');

            button.attr('disabled', 'disabled').val((submitValue) ? submitValue : 'Please Wait...');
            document.getElementById("ajax-loader").style.visibility = "visible";

        });
    </script>

{% endblock %}
