<header>
    <div class="topbar-responsive">
        <a class="logo" href="{{ path_for('home') }}"><span class="name">{{ app.name }}</span><span class="icon ion-android-checkmark-circle light"></span></a>
        <nav class="nav-collapse">
            <ul>
                {% if not auth.check %}
                    <li class="menu-item"><a href="{{ path_for('auth.signin') }}"><span class="icon ion-log-in"></span> <span class="text">Login</span></a></li>
                    <li class="menu-item"><a href="{{ path_for('auth.signup') }}"><span class="icon ion-person-add"></span> <span class="text">Register</span></a></li>
                {% else %}
                    <li class="menu-item"><a href="#"><span class="icon ion-home"></span> <span class="text">Home</span></a></li>
                    <li class="menu-item"><a href="#"><span class="icon ion-compass"></span> <span class="text">Explore</span></a></li>
                    <li class="menu-item"><a href="{{ path_for('list.new') }}"><span class="icon ion-compose"></span> <span class="text">New List</span></a></li>

                    <li class="menu-item avatar">

                        <a>{{ auth.user.getAvatar({size : 30}) | raw }} <span class="icon ion-android-arrow-dropdown"></span></a>
                        <ul class="topbar_dropdown">
                            <li class="dropdown-item"><a href="{{ path_for('userProfile', {user : auth.user.username}) }}"><span class="icon ion-person"></span> <span class="text">Profile</span></a></li>
                            <li class="dropdown-item"><a href="{{ path_for('account.profile') }}"><span class="icon ion-gear-a"></span> <span class="text">Settings</span></a></li>
                            <li class="dropdown-item"><a href="{{ path_for('auth.signout') }}"><span class="icon ion-android-exit"></span> <span class="text">Sign out</span></a></li>
                        </ul>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</header>
